/**********
GENERAL
**********/
html {
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1em;
	overflow-y: scroll;
	overflow-x: hidden;
	}

a {
	text-decoration: none
}

h1 {
	font-family: Raleway, sans-serif; 
	font-size: 2em;
	font-weight: 500;
}

h2 {
	font-family: Raleway, sans-serif; 
	font-size: 1.5em;
	font-weight: 500;
}

h3 {
	font-family: Raleway, sans-serif; 
	font-size: 1.1em;
}

p {
	font-family: Raleway, sans-serif;
	line-height: 1.5em;
}

footer {
	clear: left;
	text-align: center;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	padding: 2.5px;
}

.page-title {
	text-align: center;
	margin-bottom: 50px;
}

.sub-header {
	font-size: .9em;
}

.pull-up {
	margin-bottom: -.1em;
}

.pull-up-more {
	margin-bottom: -.6em;
}

.footer-icon {
	display: inline-block;
	margin-right: 5px;
}

.nav-link {
	margin: 5px;
}

.avatar-container {
	text-align: center;
}

.avatar {
	width: 100px; 
	height: 100px; 
	border-radius: 100%; 
	margin: auto;
}

.alt-avatar {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	margin: auto;
}

.footer-icon {}
/**********
RESUME
**********/
.skills-wrap {
	display: block;  
}

.skill { 
	display: inline-block; 
	padding: .5%;
}

.resume-header {
	text-transform: uppercase; 
}

.contact-info {
	margin-bottom: -.8em;
}
/**********
COLOR
**********/
html {
	background-color: #FFFFFF;
}

a {
	color: inherit;
}

a:hover {
	color: #577492;
}

h1, h2, h3 {
	color: #202020;
}

p {
	color: #303030;
}

.off-color {
	color: #577492;
}

.skill {
	background-color: white; 
	color: #303030;	
}

.symbol {
	color: #577492;
}

.contact-info {
	color: #577492;
}

.footer-icon {
	color: #577492;
}