/**********
GENERAL
**********/
	html {
		background-color: #FFFFFF;
	}

	a {
		text-decoration: none
	}

	h1 {
		font-family: sans-serif; 
		font-size: 2em;
		text-transform: uppercase;
	}

	h2 {
		font-family: sans-serif; 
		font-size: 1.5em;
		text-transform: uppercase; 
	}

	h3 {
		font-family: sans-serif; 
		font-size: 1.1em;
	}

	.nav-link {
		margin: 5px;
	}

	.avatar-container {
		text-align: center;
	}

	.avatar {
		width: 100px; 
		height: 100px; 
		border-radius: 100%; 
		margin: auto;
	}

/**********
RESUME
**********/
	.skills-wrap {
		display: block;  
	}

	.skill { 
		display: inline-block; 
		padding: .5%;
	}
/**********
COLOR
**********/
	a {
		color: inherit;
	}

	a:hover {
		color: #577492;
	}

	h1, h2, h3 {
		color: #202020;
	}

	p {
		color: #303030;
	}

	.nav-link{
		color: #202020;
	}

	.skill {
		background-color: white; 
		color: #303030;	
	}

	.symbol {
		color: #577492;
	}

	.contact-info {
		color: #577492;
	}
}