@media screen and (min-width: 320px) {
	.wrapper {
		margin: 0 auto;
		padding: 0 5%;
	}

	.top-nav {
		text-align: center;
	}

@media screen and (min-width: 768px) {
	/**********
	RESUME
	**********/
	.first-col {
		float: left; 
		width: 45%;  
		margin-right: 8%;
	}

	.second-col { 
		display: inline-block;
		width: 45%; 
	}

	.skills-wrap {
		display: block;  
	}

	.skill { 
		display: inline-block; 
		padding: .5%;
	}
}

@media screen and (min-width: 1024px) {
	nav {
		overflow: auto; 
		margin: 2%;
	}
	.wrapper {
		width: 50%;
		margin: 0% 20%; 
	}

	.top-nav { 
		display: inline;
		float: right; 
	}
}