/**********
GENERAL
**********/

html {
	overflow-y: scroll;
	font-family: Helvetica, sans-serif;
}

nav {
	overflow: auto; 
	margin: 20px;
}

a {
	text-decoration: none; 
	margin: 0px 5px; 
}

a:hover {
	color: #577492;
}

h1 {
	font-family: sans-serif; 
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase; 
}

.wrapper {
	margin: 0% 25%; 
}

.top-nav { 
	display: inline;
	float: right; 
}

.avatar {
	border-radius: 100%; 
	width: 100px; 
	height: 100px; 
}

/**********
RESUME
**********/

.skills-wrap {
	display: block; 
	padding: 1.5%;
	text-align: center; 
}

.skills { 
	display: inline-block; 
	text-align: center;
	margin: auto;
	padding: .5%;
}

.first-col {
	float: left; 
	width: 45%;
	height: 700px;   
	padding: 2.5%; 
}

.second-col { 
	display: inline-block;
	width: 45%; 
	height: 535px;
	padding: 2.5%;
}

/**********
CONTACT
**********/

.contact-wrap {
	width: 45%; 
	display: inline-block;
	padding: 1.5%;
}

/**********
COLOR
**********/
a {
	color: inherit;
}

.skills {
	color: black;
	background-color: white; 
}

/*
.first-col {
	background-color: tomato;
}

.second-col {
	background-color: skyblue;
}

.skills-wrap {
	background-color: green; 
}

.contact-wrap {
	background-color: magenta;

*/