/**********
GENERAL
**********/
nav {
	overflow: auto; 
	margin: 20px;
}

a {
	text-decoration: none; 
	margin: 0px 5px; 
}

h1 {
	font-family: sans-serif; 
	text-transform: uppercase;
}

.wrapper {
	margin: 0% 20%;  
}

.top-nav { 
	display: inline;
	float: right; 
}

.avatar {
	border-radius: 100%; 
	width: 100px; 
	height: 100px; 
}

/**********
RESUME
**********/
.first-col {
	float: left; 
	width: 45%;
	height: 700px;   
	padding: 2.5%; 
}

.second-col { 
	display: inline-block;
	width: 45%; 
	height: 535px;
	padding: 2.5%;
}

.skills-wrap {
	display: inline-block; 
	width: 45%; 
	padding: 1.5%;
}

.skills { 
	display: inline-block; 
	text-align: center;
	margin: 5px 5px; 
	padding: .5%;
}

/**********
CONTACT
**********/

.contact-wrap {
	width: 45%; 
	display: inline-block;
	padding: 1.5%;
}

/**********
COLOR
**********/
a {
	color: inherit;
}

.skills {
	color: white;
	background-color: black; 
}

/*
.first-col {
	background-color: tomato;
}

.second-col {
	background-color: skyblue;
}

.skills-wrap {
	background-color: green; 
}

.contact-wrap {
	background-color: magenta;

*/