/**********
GENERAL
**********/

html {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	overflow-y: scroll;
}

nav {
	overflow: auto;
	margin: 2%;
}

a {
	text-decoration: none; 
	margin: 5px; 
}

h1 {
	font-family: sans-serif; 
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	font-family: sans-serif; 
	font-size: 1.5em;
	text-transform: uppercase; 
}

h3 {
	font-family: sans-serif; 
	font-size: 1.1em;
}

.wrapper {
	width: 50%;
	margin: 0% 25%; 
}

.top-nav { 
	display: inline;
	float: right; 
}

.avatar-container {
	text-align: center;
}

.avatar {
	width: 100px; 
	height: 100px; 
	border-radius: 100%; 
	margin: auto;
}

/**********
RESUME
**********/

.skills-wrap {
	display: block;  
}

.skills { 
	display: inline-block; 
	padding: .5%;
}

.first-col {
	float: left; 
	width: 45%;  
	margin-right: 8%;
}

.second-col { 
	display: inline-block;
	width: 45%; 
}

.resume-third-header {
	margin: -.1em;
}

.resume-date {
	font-size: .9em;
}

/**********
CONTACT
**********/

.contact-wrap {
	width: 45%; 
	display: inline-block;
	padding: 1.5%;
}

/**********
COLOR
**********/
a {
	color: inherit;
}

a:hover {
	color: #577492;
}

.skills {
	background-color: white; 
	color: black;	
}

/*
.first-col {
	background-color: tomato;
}

.second-col {
	background-color: skyblue;
}

.skills-wrap {
	background-color: green; 
}

.contact-wrap {
	background-color: magenta;

*/