/**********
GENERAL
**********/
nav {
	overflow: auto; 
}

a {
	text-decoration: none; 
	margin: 0px 5px; 
}

.wrapper {
	margin: 0% 20%;  
}

.top-nav { 
	display: inline;
	float: right; 
}

img {
	border-radius: 50%; 
}

/**********
COLOR
**********/
a {
	color: inherit;
}